# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
# *.ac
# *.am
*.m4
configure
*.cache
compile
depcomp
missing
*.log
config.*
*-sh
NOTES
*.in
Makefile
.deps
.libs
*.in~
*-h1
ltmain.sh
libtool
FONCTIONNE*
